<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Grocery Shopping and Online Supermarket in India - bigbasket</title>
  <link rel="shortcut icon"
    href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3XfekLrDCd5cGYZHG0XelJNQ-hUCq2Jj6Vg&s"
    type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- <script src="{% static 'js/style.js' %}"></script> -->


</head>

<body>
  <header class="navbar">
    <div class="navbar-row">
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1d/BigBasket_Logo.svg/1200px-BigBasket_Logo.svg.png"
          alt="bigbasket logo">
      </div>
      <div class="search-container">
        <input type="text" placeholder="Search for Products...">
      </div>
      <div class="location-box">
        <img src="./../static/images/motorcycle.png" alt="deliverysccooter" width="32">
        <div>
          <div class="get-it">Get it in 1 day</div>
          <div class="location">400001, Mumbai</div>
        </div>
      </div>
      <button class="login-btn" id="login-btn">Login/ Sign Up</button>


      <div class="cart-icon">
        <img src="./../static/images/image.png" alt="cart" width="32" id="cart-btn">
      </div>
    </div>

  </header>


  <div class="modal-overlay" id="login-modal-overlay" >
    <div class="login-modal">
      <div class="modal-left">
        <p class="why-title">Why choose Bigbasket?</p>
        <div class="why-list">
          <div class="why-row">
            <img src="./../static/images/loginicon-1.png" alt="iconimg">
            <div class="why-row-info">Quality</div>
          </div>
          <div class="why-row">
            <img src="./../static/images/loginicon-2.png" alt="iconimg">
            <div class="why-row-info">On time</div>
          </div>
          <div class="why-row">
            <img src="./../static/images/loginicon-3.png" alt="iconimg">
            <div class="why-row-info">Return Policy</div>
          </div>
          <div class="why-row">
            <img src="./../static/images/loginicon-4.png" alt="iconimg">
            <div class="why-row-info">Free delivery</div>
          </div>
        </div>
        <hr class="ticker">
        <div class="get-app">
          <span class="find-us">Find us on</span>
          <img src="./../static/images/loginicon-5.png" alt="Play" class="store-badge">
        </div>
      </div>
      <div class="modal-right">
        <span class="close-modal" id="close-modal">&times;</span>
        <div class="login-title">Create & Sign up</div>
        <div class="otp-caption">Using OTP
          <hr class="otp-hr">
        </div>
        <form method="post">
        {% csrf_token %}
        <input type="text" class="login-input" name="username" placeholder="Enter User Id">
        <input type="text" class="login-input" name="password" placeholder="Password">
        <button class="login-continue" type="submit">Continue</button>
        </form>
        <div class="login-info">
          By continuing, I accept TCP -
          <a href="#" class="tnc-link">bigbasket's Terms and Conditions & Privacy Policy</a><br>
          This site is protected by reCAPTCHA and the Google
          <a href="#" class="tnc-link">- Privacy Policy</a> &amp;
          <a href="#" class="tnc-link">Terms of Service</a> apply.
        </div>
      </div>
    </div>
  </div>


</body>

<script src="./../static/js/style.js"></script>

</html>