<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Grocery Shopping and Online Supermarket in India - bigbasket</title>
  <link rel="shortcut icon"
    href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3XfekLrDCd5cGYZHG0XelJNQ-hUCq2Jj6Vg&s"
    type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/style.js' %}"></script>


</head>

<body>
  <header class="navbar">
    <div class="navbar-row">
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1d/BigBasket_Logo.svg/1200px-BigBasket_Logo.svg.png"
          alt="bigbasket logo">
      </div>
      <div class="search-container">
        <input type="text" placeholder="Search for Products...">
      </div>
      <div class="location-box">
        <img src="./../static/images/motorcycle.png" alt="deliverysccooter" width="32">
        <div>
          <div class="get-it">Get it in 1 day</div>
          <div class="location">400001, Mumbai</div>
        </div>
      </div>
      <a href="{% url 'login' %}" class="login-btn" id="login-btn">Login/ Sign Up</a>


      <div class="cart-icon">
        <a href="{% url 'login' %}" class="cart-icon" id="cart-btn">
          <img src="./../static/images/image.png" alt="cart" width="32">
        </a>
      </div>
    </div>

  </header>


</body>

<script src="./../static/js/style.js"></script>

</html>
    